.search_bar {
  height: 35px;
  width: 62.5rem;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid gray;
  outline: none;
  transition: border-color 0.3s ease, width 0.3s ease;
  background-color: #222;
  color: white;
  max-width: 300px;
  flex-grow: 1;
  min-width: 150px;
}

.search_bar::placeholder {
  color: rgb(200, 200, 200);
  font-style: italic;
}

.search_bar:focus {
  border-color: aliceblue;
}

/* respo */
@media (max-width: 768px) {
  .search_bar {
    width: 100%;
    margin: 10px 0;
  }
}
@media (max-width: 480px) {
  .search_bar {
    width: 100%;
    margin: 5px 0;
  }
}
