.header {
  padding-inline: 20px;
  background: black;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 110px;
}
.nav_bar {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.list {
  color: white;
  cursor: pointer;
  /* დროებით იყოს ესე,მერე ვნახოთ რესპონსივზე რას იზავს */
  font-size: 0.65vw;
  transition: 1s;
}
.list:hover {
  color: rgb(87, 86, 86);
}

.sign_out {
  background-color: darkred;
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.sign_out:hover {
  color: darkred;
  background-color: rgb(87, 86, 86);
  transition: 1s;
  cursor: pointer;
}
