<header class="header">
  <nav class="nav_bar">
    <img class="logo" src="/assets/logo.png" class="logo" />
    <ul class="nav_ul" *ngFor="let item of navList">
      <li class="list">
        <a
          [routerLink]="getNavRoute(item)"
          routerLinkActive="active-link"
          class="nav-link"
        >
          {{ item }}
        </a>
      </li>
    </ul>
  </nav>
  <nav class="nav_bar">
    <a style="color: aliceblue"
      ><span>Welcome {{ UserName }}</span></a
    >
    <button class="sign_out" (click)="onSignOut()">Sign Out</button>
  </nav>
</header>
<router-outlet />
<app-footer />
