.login_page_body {
  background-image: url("/assets/background2.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
  border-radius: 10px;
}

.login_container {
  width: 100%;
  text-align: center;
}

.login_header {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.login_container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  background: #333;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
}

.login_container button[type="submit"] {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: red;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.login_container button[type="submit"]:hover {
  background-color: red;
}

.login_container p {
  color: #b3b3b3;
  font-size: 14px;
  margin-top: 20px;
}

.login_container p a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.login_container p a:hover {
  color: red;
}
