<iframe
  class="banner_video"
  src="https://www.youtube.com/embed/-1uFTjKl65E?autoplay=1&mute=1&loop=1&controls=0"
  [frameBorder]="0"
></iframe>

<div class="movie">
  <div class="about_movie">
    <h1 class="movie_title">Jandaba</h1>
    <p class="movie_description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi saepe.
    </p>
  </div>

  <div class="buttons">
    <button class="play"><i class="fa-solid fa-play"></i>Play</button>
    <button class="info">More Info</button>
  </div>
</div>
