.footer {
  padding: 20px;
  display: flex;
  background: black;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.socials {
  display: flex;
  column-gap: 15px;
}
.fab {
  color: white;
  font-size: 0.65vw;
  cursor: pointer;
  transition: 1s;
}
.footer_nav {
  display: flex;
  column-gap: 15px;
}

.footer_list {
  color: white;
  font-size: 0.65vw;
  cursor: pointer;
  transition: 1s;
}

.fab:hover {
  color: rgb(87, 86, 86);
}
.footer_list:hover {
  color: rgb(87, 86, 86);
}
